 .container {
   text-align: center;
   width: 70%;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
}

form {
  background: #ebe6e6;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

form input[type="text"] {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 77%;
  outline: none;
}

form input[type="submit"] {
  border: none;
  padding: 10px 25px;
  background: #e90c0c;
  color: wheat;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.taskes {
  width: 100%;
  background: #ebe6e6;
  min-height: 64px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
}
.task {
  padding: 10px;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  text-align: left;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task .btn {
  border: none;
  padding: 5px 20px;
  background: #e90c0c;
  color: wheat;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}